/*Fonts*/

/*Обычный 400*/

@font-face {
  font-family: 'OpenSans Regular';
  src: url(/fonts/OpenSans-Regular.ttf);
}

/*Полужирный 600*/

@font-face {
  font-family: 'OpenSans SemiBold';
  src: url(/fonts/OpenSans-SemiBold.ttf);
}

/*Жирный 700*/

@font-face {
  font-family: 'OpenSans Bold';
  src: url(/fonts/OpenSans-Bold.ttf);
}

/*Общие настройки*/

* {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 18px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:active, button:focus {
  outline: none;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  font-family: "OpenSans Bold";
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  line-height: 38px;
}
/*
img {
  padding: 0;
  margin: 0;
}
*/
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: auto;
  max-width: 1920px;
  min-width: 320px;
}

/*Header*/

.header {
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header__burger-button {
  min-width: 20px;
  min-height: 15px;
  background-image: url(../img/Burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__title_logo-image {
  width: 97px;
  height: 22px;
}

.header__navigation {
  display: none;
  margin-left: -100px;
}

.header__list {
  display: flex;
  min-width: 900px;
  justify-content: space-between;
}

.header__list-item {
  padding: 0 6px 8px 6px;
}

.header__list-item_link {
  font-family: "OpenSans SemiBold", sans-serif;
  font-size: 18px;
}

.header__list-item_link:hover {
  color: #C283F3;
}

.header__list-item_link:active {
  color: #7943A4;
}

.header__list-item_link:focus {
  outline: 2px solid #7943A4;
}

.header__find-button {
  min-width: 16px;
  min-height: 16px;
  border: none;
  background-color: transparent;
  background-image: url(../img/magnifier.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__enter {
  display: none;
}

.header__enter_title {
  line-height: 17px;
  padding-left: 7px;
}

.header__enter:hover {
  color: #C283F3;
}

.header__enter:active {
  color: #7943A4;
}

.header__enter:focus {
  outline: 2px solid #7943A4;
}

@media (min-width: 768px) and (max-width: 1920px) {
  .header {
    padding: 30px 50px;
  }
  .header__burger-button {
    min-width: 36px;
    min-height: 28px;
  }
  .header__title_logo-image {
    width: 188px;
    height: 42px;
  }
  .header__find-button {
    min-width: 30px;
    min-height: 30px;
  }
}

@media (min-width: 1920px) {
  .header {
    padding: 30px 160px;
  }
  .header__navigation {
    display: flex;
  }
  .header__burger-button {
    display: none;
  }
  .header__title_logo-image {
    width: 173px;
    height: 40px;
  }
  .header__find-button {
    display: none;
  }
  .header__enter {
    display: flex;
  }
}