.main-top {
  position: relative;
}

.swiper-slide {
  min-height: 800px;
}

.swiper-slide img {  
  object-fit: contain;
  min-height: 800px;
}

.swiper-button-prev, .swiper-button-next {
  --swiper-theme-color: white;
  opacity: 0.5;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  --swiper-theme-color: white;
  opacity: 0.5;
}

.swiper-pagination-bullet:hover {
  opacity: 1;
}


.main-top__list{
  outline: 1px solid red;

  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;
}
